# Sparsh Khanna

## Research question/interests
My research question/interest is to find out who are the top 4 bowlers of all time in IPL. I plan to use the data in my dataset in a way that i assign a score or a value for a particular stat for each bowler. For example number of wickets have a certain score value , number of dots bowled is a value , the number of extras given and much more . Using these scoring metrics i will have a list of all the bowlers and their designated score from which i can make the final 4. I also plan to add more columns like period of the game(opening or death) which will help me in improving my analysis.

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
# Your Solution Here
# Themes and colours in Seaborn

# There are five preset seaborn themes: darkgrid, whitegrid, dark, white, and ticks. 
# They are each suited to different applications and personal preferences.
# You can see what they look like [here](https://seaborn.pydata.org/tutorial/aesthetics.html#seaborn-figure-styles)

# Just for fun, we're going to set the theme to be a nice one:
sns.set_theme(style="ticks",
              font_scale=1.3, # This scales the fonts slightly higher
             )
# And we're going to remove the top and right axis lines
import matplotlib.pyplot as plt
plt.rc("axes.spines", top=False, right=False)
import pandas as pd
ball_by_ball = pd.read_csv("../data/raw/IPL_Ball_by_Ball_2008_2022.csv")

ball_by_ball['ballcounter']=1
ball_by_ball

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,ballcounter
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,1
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals,1
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals,1
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,1
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,335982,2,14,5,P Kumar,I Sharma,SB Joshi,legbyes,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,1
225950,335982,2,14,6,SB Joshi,I Sharma,P Kumar,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,1
225951,335982,2,14,7,P Kumar,I Sharma,SB Joshi,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,1
225952,335982,2,15,1,SB Joshi,LR Shukla,P Kumar,wides,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,1
225953,335982,2,15,2,SB Joshi,LR Shukla,P Kumar,NaN,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,1

In [12]:
import pandas as pd
matches = pd.read_csv("../data/raw/IPL_Matches_2008_2022 (1).csv")
matches

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,N,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,N,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

In [13]:
import pandas as pd
bowling_data = ball_by_ball[['bowler', 'total_run', 'isWicketDelivery', 'extras_run', 'ballcounter']]
bowler_stats = bowling_data.groupby('bowler').agg({'total_run': 'sum', 'isWicketDelivery': 'sum', 'extras_run': 'sum', 'ballcounter': 'sum'})
bowler_stats.rename(columns={'total_runs': 'runs_given', 'isWicketDelivery':'wickets_taken', 'extras_run': 'extras_given', 'ballcounter': 'balls_bowled'}, inplace=True)
bowler_stats['overs_bowled'] = bowler_stats['balls_bowled'] // 6
bowler_stats=bowler_stats[bowler_stats['overs_bowled']>=300]
bowler_stats.sort_values(by='wickets_taken', ascending=False, inplace=True)
bowler_stats['Economy Rate']=bowler_stats['total_run']/bowler_stats['overs_bowled']
bowler_stats.replace([np.inf, -np.inf], 0, inplace=True)
# Print the summary
print(bowler_stats)
bowlerlistdescription=bowler_stats.describe(include="all")
bowlerlistdescription
bowler_stats.to_csv("..

                 total_run  wickets_taken  extras_given  balls_bowled  \
bowler
DJ Bravo              4436            207           258          3296
SL Malinga            3486            188           292          2974
A Mishra              4022            175           125          3317
R Ashwin              4596            174           209          4024
YS Chahal             3699            172           175          2940
SP Narine             3907            171           152          3516
PP Chawla             4368            165           134          3309
B Kumar               4064            165           246          3384
Harbhajan Singh       4101            161           173          3496
JJ Bumrah             3499            161           201          2857
UT Yadav              4041            153           250          2945
RA Jadeja             4114            141           123          3262
R Vinay Kumar         3041            127           116          2186
Sandeep Sharma        3046            123           126          2399
A Nehra               2537            121           115          1974
Rashid Khan           2411            119           103          2232
Z Khan                2860            119           169          2276
Mohammed Shami        2954            116           171          2118
AR Patel              3140            109            97          2599
SR Watson             2742            107           171          2137
CH Morris             2377            107           157          1801
DW Steyn              2583            105           177          2282
P Kumar               3342            102           236          2637
RP Singh              2417            100           181          1874
PP Ojha               2399             99           138          1945
JD Unadkat            2806             99            77          1942
IK Pathan             2711             99           142          2113
TA Boult              2522             99           110          1860
JA Morkel             2409             96           153          1807
DS Kulkarni           2513             91           149          1876
I Sharma              2779             74           197          2090

                 overs_bowled  Economy Rate
bowler
DJ Bravo                  549      8.080146
SL Malinga                495      7.042424
A Mishra                  552      7.286232
R Ashwin                  670      6.859701
YS Chahal                 490      7.548980
SP Narine                 586      6.667235
PP Chawla                 551      7.927405
B Kumar                   564      7.205674
Harbhajan Singh           582      7.046392
JJ Bumrah                 476      7.350840
UT Yadav                  490      8.246939
RA Jadeja                 543      7.576427
R Vinay Kumar             364      8.354396
Sandeep Sharma            399      7.634085
A Nehra                   329      7.711246
Rashid Khan               372      6.481183
Z Khan                    379      7.546174
Mohammed Shami            353      8.368272
AR Patel                  433      7.251732
SR Watson                 356      7.702247
CH Morris                 300      7.923333
DW Steyn                  380      6.797368
P Kumar                   439      7.612756
RP Singh                  312      7.746795
PP Ojha                   324      7.404321
JD Unadkat                323      8.687307
IK Pathan                 352      7.701705
TA Boult                  310      8.135484
JA Morkel                 301      8.003322
DS Kulkarni               312      8.054487
I Sharma                  348      7.985632

,total_run,wickets_taken,extras_given,balls_bowled,overs_bowled,Economy Rate
count,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000
mean,3223.290323,130.483871,165.258065,2563.483871,426.903226,7.610976
std,718.400918,34.523297,51.764188,638.789682,106.372727,0.531429
min,2377.000000,74.000000,77.000000,1801.000000,300.000000,6.481183
25%,2560.000000,101.000000,125.500000,2032.000000,338.500000,7.268982
50%,3041.000000,119.000000,157.000000,2282.000000,380.000000,7.634085
75%,3964.500000,163.000000,189.000000,3118.000000,519.000000,7.994477
max,4596.000000,207.000000,292.000000,4024.000000,670.000000,8.687307

In [15]:
mask = (ball_by_ball['overs'] >= 16) & (ball_by_ball['overs'] <= 20)
filtered_ipl_data = ball_by_ball[mask]
bowler_stats1 = bowling_data.groupby('bowler').agg({'total_run': 'sum', 'isWicketDelivery': 'sum', 'extras_run': 'sum', 'ballcounter': 'sum'})
bowler_stats1

                total_run  isWicketDelivery  extras_run  ballcounter
bowler
A Ashish Reddy        400                19          14          270
A Badoni               12                 2           1           12
A Chandila            245                11           3          234
A Choudhary           144                 5           7          108
A Dananjaya            47                 0           1           25
...                   ...               ...         ...          ...
YK Pathan            1443                46          71         1184
YS Chahal            3699               172         175         2940
Yash Dayal            296                13          13          205
Yuvraj Singh         1091                39          27          882
Z Khan               2860               119         169         2276

[472 rows x 4 columns]

In [ ]:

import matplotlib.pyplot as plt

plt.scatter(bowler_stats['wickets_taken'], bowler_stats.index)

# Set the x-axis label
plt.xlabel('Wickets')

# Set the y-axis label
plt.ylabel('Bowler')

# Set the plot title
plt.title('Bowlers vs Wickets')

# Show the plot
plt.show()